<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Recuerda.me.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Recuerda.me.Properties.Settings>
            <setting name="startWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
        </Recuerda.me.Properties.Settings>
    </userSettings>
</configuration>